@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:wght@100;400;700&display=swap');

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* SWIPER STYLES */

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #cccccc;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
}

.swiper-pagination-bullet-active {
  color: black;
  background: #ffd500;
  font-weight: bold;
  font-size: 16px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.swiper-wrapper {
  height: 100%;
}

.slide-content {
  max-width: 500px;
  margin: 0 auto;
  border: 10px groove goldenrod;
  padding: 30px;
  text-align: center;
}

/* TEXT AND BACKGROUND */

.fullscreen-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  background-image: url('/public/img/background.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  text-align: center;
  margin-top: 25px;
  color: #ffe81f;
  font-size: 48px;
  font-family: 'Poller One', cursive;
  position: relative;
  z-index: 1;
}

.highlight-container,
.highlight {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: black;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: ' ';
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #cccccc;
}

.result {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #cccccc;
  margin-left: 5px;
}

.p {
  margin-top: 40px;
}

/* LOADING */

.loading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/img/background.jpg');
  background-size: cover;
  background-position: center;
  font-size: 24px;
  color: #ffe81f;
  text-align: center;
  font-family: 'Poller One', cursive;
}

.loading-text {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 28px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffe81f;
  font-family: 'Poller One', cursive;
  opacity: 0;
  animation: pulse 1.6s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.6s;
}

.dot:nth-child(3) {
  animation-delay: 1.2s;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  40% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

/* RESPONSIVE */

/* Desktop and Tablets */
@media screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  .title {
    font-size: 32px;
    margin-top: 10px;
  }

  .loading-dots {
    flex-direction: row;
  }

  .dot {
    margin: 0 6px;
  }

  .loading-text {
    flex-direction: column;
    align-items: center;
  }

  .loading-dots {
    margin-left: 0;
    margin-top: 5px;
  }
}

/* Phones */
@media only screen and (max-device-width: 767px) {
  .title {
    font-size: 24px;
    margin-top: 10px;
  }

  .swiper-slide {
    margin-top: 20px;
  }

  .loading-dots {
    flex-direction: row;
  }

  .dot {
    margin: 0 6px;
  }

  .loading-text {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .loading-dots {
    margin-left: 0;
    margin-top: 5px;
  }
}
